/* Place project-specific CSS here */

@font-face {
	font-family: myFirstFont;
	src: url(sansation_light.woff);
}

@import url(http://fonts.googleapis.com/css?family=GFS+Didot&subset=greek);

body{
font-size:1em;
/*font-family:  "Palatino Linotype";*/
font-family: 'GFS Didot', serif;
}

button{
  display:block;
  float:right;
  height:16px;
}

button.tei{
  display:inline-block;
  float:right;
  margin-right :400px;
}

#primary-nav.container{
	background: #ab9e71 ;
	color:#fff;
}

#primary-nav.container a:link {
        background: #ab9e71 ;
	color:#fff;
}


#content{
width:100%;
}

#primary{
width:70%;
}

/* Ligne 95 */
h1, h2, h3, h4, h5, h6
{
  background-color: white;
  color:#ab9e71;
  padding:0 0 0 0;
  margin:20px 0 10px 0 ;}

h1{
font-size:1.4em;
  font-variant : small-caps;
font-weight:bold;
}

h4, h4 span.person {
  font-size:1.1em;
  font-variant : small-caps;
  padding: 0 0 10px 0;
  color:#ab9e71;
}

#primary ul{
margin:0;
}




#primary a, head{
color: #ab9e71 ;

}

#primary ul li:before{
content:" ";
color: #ab9e71 ;
}

#primary ul li {
list-style: none;
}

ul{
list-style-type: square;
}

 .person{
 color:#000;
 text-shadow: 1px 1px 1px #888;
 }
 
 a .person{
 color:#ab9e71;
 text-shadow: none;
 }

.title, .person, a{
  padding:0 3px;
} 
 
milestone{

}

milestone:after{
font-size:0.8em;
font-weight:bold;
padding:0 3px;
content:attr(n);
}



.title{
  font-weight:bold;
}

.textPart{
  margin: 15px 0;
}

header.linkPlus{
  cursor:pointer;
}

.page{
  display:none;
}

.textType{
   text-transform: capitalize;
}

.bibl{
//display:none;
}




.testimonium{

}

.citation{
		font-style:italic;
}

.scholarchus{

}

.fragmentum{

}
    
.testimonium:before, .fragmentum:before{
    color:#ffffff;
    background:#aaaaaa;
    font-size:0.7em;
    padding:3px;
    cursor: help;
}

.testimonium:before{
		content:"T";
}

.fragmentum:before{
		content:"F";
} 
